body {
    font-family: sans-serif;
    color: blue;
    text-align: justify;
}


h2 {
    font-size: 35px;
    color: red;
}

.container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
}

.navbar {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.navbar-item {
    list-style: none;
    margin-right: 10px;
}

.navbar-item > a {
    text-decoration: none;
    color: red;
    font-size: 25px;
}

.section {
    width: 33.33%;
    height: 600px;
    padding: 20px;
}

.section div {
    margin-top: 10px;
}

.section-button {
    width: 100%;
    height: 35px;
}


.image {
    width: 80%;
    height: 300px;
    margin-left: 30px;
}

.footer{
    font-size: 15px;
 text-align: center;
}